# This Script Contains the Following Data Points
# Assignment 4.4 Data Analysis Immersion
## 1. Import Libraries
## 2. Set Path and Import Files
## 3. Manipulate Department Data
## 4. Import Products Data
## 5. Create Snack Subset
## 6. Import Orders Data
## 7. Manipulate Orders Data
## 8. Create Breakfast Subset
## 9. Create Dinner Party Subset
## 10. Subset of User 1
## 11. Export Data

### 1. Import Libraries

In [1]:
# Importing libraries
import pandas as pd
import numpy as np
import os

### 2. Set Path and Import Files

In [2]:
# set path
path = r'/Users/allisonweese/Documents/Achievement 4 Project Allison Weese/'

In [5]:
# Import Department Data
df_dep = pd.read_csv(os.path.join(path, '2 Data', 'Original Data', 'departments.csv'), index_col = False)

### Manipulate Department Data

In [6]:
# Displaying the first few rows of df_dep
df_dep.head()

,department_id,1,2,3,4,5,6,7,8,9,...,12,13,14,15,16,17,18,19,20,21
0,department,frozen,other,bakery,produce,alcohol,international,beverages,pets,dry goods pasta,...,meat seafood,pantry,breakfast,canned goods,dairy eggs,household,babies,snacks,deli,missing

In [7]:
# Transposing df_dep
df_dep_t = df_dep.T

In [8]:
# Transposed dataframe
df_dep_t = df_dep.T

In [9]:
# Adding index
df_dep_t.reset_index()

            index                0
0   department_id       department
1               1           frozen
2               2            other
3               3           bakery
4               4          produce
5               5          alcohol
6               6    international
7               7        beverages
8               8             pets
9               9  dry goods pasta
10             10             bulk
11             11    personal care
12             12     meat seafood
13             13           pantry
14             14        breakfast
15             15     canned goods
16             16       dairy eggs
17             17        household
18             18           babies
19             19           snacks
20             20             deli
21             21          missing

In [10]:
# Creating new header
new_header = df_dep_t.iloc[0]

In [11]:
# Check new header
new_header

0    department
Name: department_id, dtype: object

In [12]:
# Take the data under the header row for a new df
df_dep_t_new = df_dep_t[1:]

In [13]:
# Check 
df_dep_t_new

                  0
1            frozen
2             other
3            bakery
4           produce
5           alcohol
6     international
7         beverages
8              pets
9   dry goods pasta
10             bulk
11    personal care
12     meat seafood
13           pantry
14        breakfast
15     canned goods
16       dairy eggs
17        household
18           babies
19           snacks
20             deli
21          missing

In [14]:
# Set the header row as the df header
df_dep_t_new.columns = new_header

In [15]:
# Check
df_dep_t_new

department_id       department
1                       frozen
2                        other
3                       bakery
4                      produce
5                      alcohol
6                international
7                    beverages
8                         pets
9              dry goods pasta
10                        bulk
11               personal care
12                meat seafood
13                      pantry
14                   breakfast
15                canned goods
16                  dairy eggs
17                   household
18                      babies
19                      snacks
20                        deli
21                     missing

In [16]:
# Create data dictionary
data_dict = df_dep_t_new.to_dict('index')

In [17]:
# Check
data_dict

{'1': {'department': 'frozen'},
 '2': {'department': 'other'},
 '3': {'department': 'bakery'},
 '4': {'department': 'produce'},
 '5': {'department': 'alcohol'},
 '6': {'department': 'international'},
 '7': {'department': 'beverages'},
 '8': {'department': 'pets'},
 '9': {'department': 'dry goods pasta'},
 '10': {'department': 'bulk'},
 '11': {'department': 'personal care'},
 '12': {'department': 'meat seafood'},
 '13': {'department': 'pantry'},
 '14': {'department': 'breakfast'},
 '15': {'department': 'canned goods'},
 '16': {'department': 'dairy eggs'},
 '17': {'department': 'household'},
 '18': {'department': 'babies'},
 '19': {'department': 'snacks'},
 '20': {'department': 'deli'},
 '21': {'department': 'missing'}}

### 4. Import Product Data

In [18]:
# Import products
df_prods = pd.read_csv(os.path.join(path, '2 Data', 'Original Data', 'products.csv'), index_col = False)

In [19]:
# Displaying the first few rows of df_prods
df_prods.head()

,product_id,product_name,aisle_id,department_id,prices
0,1,Chocolate Sandwich Cookies,61,19,5.8
1,2,All-Seasons Salt,104,13,9.3
2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,5,Green Chile Anytime Sauce,5,13,4.3

In [20]:
# Print a specific value from data_dict
print(data_dict.get('19'))

{'department': 'snacks'}

### 5. Create Subset

In [21]:
# Creating subset
df_snacks = df_prods[df_prods['department_id'] == 19]

In [22]:
# Displaying the first few rows of df_snacks
df_snacks.head()

,product_id,product_name,aisle_id,department_id,prices
0,1,Chocolate Sandwich Cookies,61,19,5.8
15,16,Mint Chocolate Flavored Syrup,103,19,5.2
24,25,Salted Caramel Lean Protein & Fiber Bar,3,19,1.9
31,32,Nacho Cheese White Bean Chips,107,19,4.9
40,41,Organic Sourdough Einkorn Crackers Rosemary,78,19,6.5

### 6. Import Orders Data

In [23]:
# Import Orders
df_ords = pd.read_csv(os.path.join(path, '2 Data', 'Original Data', 'orders.csv'), index_col = False)

In [24]:
# Displaying information about df_ords
df_ords.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3421083 entries, 0 to 3421082
Data columns (total 7 columns):
 #   Column                  Dtype
---  ------                  -----
 0   order_id                int64
 1   user_id                 int64
 2   eval_set                object
 3   order_number            int64
 4   order_dow               int64
 5   order_hour_of_day       int64
 6   days_since_prior_order  float64
dtypes: float64(1), int64(5), object(1)
memory usage: 182.7+ MB

### 7. Manipulate Orders Data

In [25]:
# Changing user_id to string
df_ords['user_id'] = df_ords['user_id'].astype('str')

In [26]:
# Check
df_ords.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3421083 entries, 0 to 3421082
Data columns (total 7 columns):
 #   Column                  Dtype
---  ------                  -----
 0   order_id                int64
 1   user_id                 object
 2   eval_set                object
 3   order_number            int64
 4   order_dow               int64
 5   order_hour_of_day       int64
 6   days_since_prior_order  float64
dtypes: float64(1), int64(4), object(2)
memory usage: 182.7+ MB

In [27]:
# Renaming order_dow
df_ords.rename(columns={'order_dow': 'orders_day_of_week'}, inplace=True)

In [28]:
# Check
df_ords.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3421083 entries, 0 to 3421082
Data columns (total 7 columns):
 #   Column                  Dtype
---  ------                  -----
 0   order_id                int64
 1   user_id                 object
 2   eval_set                object
 3   order_number            int64
 4   orders_day_of_week      int64
 5   order_hour_of_day       int64
 6   days_since_prior_order  float64
dtypes: float64(1), int64(4), object(2)
memory usage: 182.7+ MB

In [29]:
# Changing order_hour_of_day to string
df_ords['order_hour_of_day'] = df_ords['order_hour_of_day'].astype('str')

In [30]:
# Find the mode (busiest hour)
df_ords['order_hour_of_day'].mode().iloc[0]

'10'

In [31]:
# 10 is the busiest hours

In [32]:
# Retrieving value 4 in department_id column within products using data dictionary
data_dict

{'1': {'department': 'frozen'},
 '2': {'department': 'other'},
 '3': {'department': 'bakery'},
 '4': {'department': 'produce'},
 '5': {'department': 'alcohol'},
 '6': {'department': 'international'},
 '7': {'department': 'beverages'},
 '8': {'department': 'pets'},
 '9': {'department': 'dry goods pasta'},
 '10': {'department': 'bulk'},
 '11': {'department': 'personal care'},
 '12': {'department': 'meat seafood'},
 '13': {'department': 'pantry'},
 '14': {'department': 'breakfast'},
 '15': {'department': 'canned goods'},
 '16': {'department': 'dairy eggs'},
 '17': {'department': 'household'},
 '18': {'department': 'babies'},
 '19': {'department': 'snacks'},
 '20': {'department': 'deli'},
 '21': {'department': 'missing'}}

In [33]:
# Department 4 is produce

### 8. Create Breakfast Subset

In [34]:
# Subset containing only breakfast items
df_breakfast = df_prods[df_prods['department_id'] == 14]

In [35]:
# Displaying the first few rows of df_breakfast
df_breakfast.head()

,product_id,product_name,aisle_id,department_id,prices
27,28,Wheat Chex Cereal,121,14,10.1
33,34,NaN,121,14,12.2
67,68,"Pancake Mix, Buttermilk",130,14,13.7
89,90,Smorz Cereal,121,14,3.9
210,211,Gluten Free Organic Cereal Coconut Maple Vanilla,130,14,3.6

### 9. Create Dinner Party Subset

In [36]:
# Dinner party products
df_dinnerparty = df_prods.loc[df_prods['department_id'].isin([5, 20, 7, 2])]

In [37]:
# Top 5 products
df_dinnerparty.head()

,product_id,product_name,aisle_id,department_id,prices
2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
6,7,Pure Coconut Water With Orange,98,7,4.4
9,10,Sparkling Orange Juice & Prickly Pear Beverage,115,7,8.4
10,11,Peach Mango Juice,31,7,2.8
19,20,Pomegranate Cranberry & Aloe Vera Enrich Drink,98,7,6.0

In [38]:
# Bottom 5 Products 
df_dinnerparty.tail()

,product_id,product_name,aisle_id,department_id,prices
49676,49672,Cafe Mocha K-Cup Packs,26,7,6.5
49679,49675,Cinnamon Dolce Keurig Brewed K Cups,26,7,14.0
49680,49676,Ultra Red Energy Drink,64,7,14.5
49686,49682,California Limeade,98,7,4.3
49688,49684,"Vodka, Triple Distilled, Twist of Vanilla",124,5,5.3

In [39]:
# Dinner party descriptive stats
df_dinnerparty.describe()

         product_id     aisle_id  department_id       prices
count   7291.000000  7291.000000    7291.000000  7291.000000
mean   24667.848032    61.009601       8.691675     7.982403
std    14320.776832    37.995212       5.499431     4.020058
min        3.000000     1.000000       2.000000     1.000000
25%    12391.500000    26.000000       7.000000     4.500000
50%    24662.000000    67.000000       7.000000     8.000000
75%    36986.000000    94.000000       7.000000    11.500000
max    49684.000000   134.000000      20.000000    15.000000

In [40]:
# More dinner party info
print(df_dinnerparty)

       product_id                                    product_name  aisle_id  \
2               3            Robust Golden Unsweetened Oolong Tea        94
6               7                  Pure Coconut Water With Orange        98
9              10  Sparkling Orange Juice & Prickly Pear Beverage       115
10             11                               Peach Mango Juice        31
19             20  Pomegranate Cranberry & Aloe Vera Enrich Drink        98
...           ...                                             ...       ...
49676       49672                          Cafe Mocha K-Cup Packs        26
49679       49675             Cinnamon Dolce Keurig Brewed K Cups        26
49680       49676                          Ultra Red Energy Drink        64
49686       49682                              California Limeade        98
49688       49684       Vodka, Triple Distilled, Twist of Vanilla       124

       department_id  prices
2                  7     4.5
6                  7     4.4
9                  7     8.4
10                 7     2.8
19                 7     6.0
...              ...     ...
49676              7     6.5
49679              7    14.0
49680              7    14.5
49686              7     4.3
49688              5     5.3

[7291 rows x 5 columns]

### 10. Subset of User 1

In [42]:
# Subset of just user 1 in orders data set
df_user_1 = df_ords.loc[df_ords['user_id'].isin([1])]

In [43]:
# Descriptive stats for user_id 1
df_user_1.describe()

       order_id  order_number  orders_day_of_week  days_since_prior_order
count       0.0           0.0                 0.0                     0.0
mean        NaN           NaN                 NaN                     NaN
std         NaN           NaN                 NaN                     NaN
min         NaN           NaN                 NaN                     NaN
25%         NaN           NaN                 NaN                     NaN
50%         NaN           NaN                 NaN                     NaN
75%         NaN           NaN                 NaN                     NaN
max         NaN           NaN                 NaN                     NaN

### 11. Export Data

In [45]:
# Exporting orders data set
df_ords.to_csv(os.path.join(path, '2 Data', 'Prepared Data', 'orders_wrangledjul16.csv'))

In [46]:
# Exporting department data set
df_dep_t_new.to_csv(os.path.join(path, '2 Data', 'Prepared Data', 'departments_wrangledjul17.csv'))

In [47]:
# end notebook