# This Script Contains the Following Data Points
# Assignment 4.6 Data Analysis Immersion
## 1. Import Libraries and Set Path
## 2. Import Prior Orders and Orders Dataframes
## 3. Create New Dataframe
## 4. Import Products Data
## 5. Merge Data

### 1. Import Libaries and Set Path

In [1]:
# Import Libraries 
import pandas as pd 
import numpy as np 
import os

In [2]:
# Set Path
path = r'/Users/allisonweese/Documents/Achievement 4 Project Allison Weese/'

### 2. Import Prior Orders and Orders Dataframes

In [4]:
# Import Orders
df_ords = pd.read_csv(os.path.join(path, '2 Data', 'Prepared Data', 'orders_checkedjul16.csv'), index_col = False)

In [7]:
# Import Prior Orders
df_ords_prior = pd.read_csv(os.path.join(path, '2 Data', 'Original Data', 'orders_products_prior.csv'), index_col = False)

In [8]:
# Check the output
df_ords_prior.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [9]:
# Check shape of Ords Prior
df_ords_prior.shape

(32434489, 4)

In [10]:
# Check shape of Ords
df_ords.shape

(3421083, 10)

### 3. Create New Dataframe

In [11]:
# Create new dataframe
df_merged_large = pd.merge(df_ords_prior, df_ords, on='order_id', how='outer', indicator=True)

In [12]:
# Check values
df_merged_large['_merge'].value_counts()

_merge
both          32434489
right_only      206209
left_only            0
Name: count, dtype: int64

In [18]:
# Check shape
df_merged_large.shape

(32640698, 14)

### 4. Import Products Data

In [16]:
df_prods = pd.read_csv(os.path.join(path, '2 Data', 'Prepared Data', 'products_checkedjul16.csv'), index_col = False)

In [17]:
# Check Shape
df_prods.shape

(49672, 6)

In [20]:
df_prods.columns

Index(['Unnamed: 0', 'product_id', 'product_name', 'aisle_id', 'department_id',
       'prices'],
      dtype='object')

In [21]:
df_merged_large.columns

Index(['order_id', 'product_id', 'add_to_cart_order', 'reordered',
       'Unnamed: 0.1', 'Unnamed: 0', 'user_id', 'eval_set', 'order_number',
       'orders_day_of_week', 'order_hour_of_day', 'days_since_prior_order',
       'order_dow', '_merge'],
      dtype='object')

### 5. Merge Data

In [22]:
# Merge data
df_combined = pd.merge(df_merged_large, df_prods, on='product_id', how='left')

In [23]:
# Check counts
merge_counts = df_combined['_merge'].value_counts()

In [24]:
merge_counts

_merge
both          32435059
right_only      206209
left_only            0
Name: count, dtype: int64

In [25]:
df_combined.head()

,order_id,product_id,add_to_cart_order,reordered,Unnamed: 0.1,Unnamed: 0_x,user_id,eval_set,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,order_dow,_merge,Unnamed: 0_y,product_name,aisle_id,department_id,prices
0,1,NaN,NaN,NaN,1868044,1868044,112108,train,4,4,10,9.0,4,right_only,NaN,NaN,NaN,NaN,NaN
1,2,33120.0,1.0,1.0,3355525,3355525,202279,prior,3,5,9,8.0,5,both,33122.0,Organic Egg Whites,86.0,16.0,11.3
2,2,28985.0,2.0,1.0,3355525,3355525,202279,prior,3,5,9,8.0,5,both,28987.0,Michigan Organic Kale,83.0,4.0,13.4
3,2,9327.0,3.0,0.0,3355525,3355525,202279,prior,3,5,9,8.0,5,both,9327.0,Garlic Powder,104.0,13.0,3.6
4,2,45918.0,4.0,1.0,3355525,3355525,202279,prior,3,5,9,8.0,5,both,45922.0,Coconut Butter,19.0,13.0,8.4

In [31]:
# Drop columns don't need
df_combined.drop(columns=['_merge'], inplace=True)

In [32]:
df_combined.drop(columns=['Unnamed: 0.1'], inplace=True)

In [33]:
df_combined.drop(columns=['Unnamed: 0_x'], inplace=True)

In [34]:
df_combined.drop(columns=['eval_set'], inplace=True)

In [35]:
df_combined.drop(columns=['Unnamed: 0_y'], inplace=True)

In [36]:
# Check
df_combined.head()

,order_id,product_id,add_to_cart_order,reordered,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,order_dow,product_name,aisle_id,department_id,prices
0,1,NaN,NaN,NaN,112108,4,4,10,9.0,4,NaN,NaN,NaN,NaN
1,2,33120.0,1.0,1.0,202279,3,5,9,8.0,5,Organic Egg Whites,86.0,16.0,11.3
2,2,28985.0,2.0,1.0,202279,3,5,9,8.0,5,Michigan Organic Kale,83.0,4.0,13.4
3,2,9327.0,3.0,0.0,202279,3,5,9,8.0,5,Garlic Powder,104.0,13.0,3.6
4,2,45918.0,4.0,1.0,202279,3,5,9,8.0,5,Coconut Butter,19.0,13.0,8.4

In [38]:
df_combined.to_pickle(os.path.join(path, '2 Data', 'Prepared Data', 'ords_prods_mergejul16.pkl'))

In [ ]:
# end notebook