# This Script Contains the Following Data Points
# Assignment 4.5 Data Analysis Immersion
## 1. Import Libraries & Set File Path
## 2. Import Data
## 3. Create and Manipulate Test Dataframe
## 4. Consistency Checks for Products
## 5. Consistency Checks for Orders

### 1. Import Libraries & Set File Path

In [1]:
# Import Libraries 
import pandas as pd 
import numpy as np 
import os

In [3]:
# Set Path
path = r'/Users/allisonweese/Documents/Achievement 4 Project Allison Weese/'

### 2. Import Data

In [4]:
# Import products.csv from original data folder
df_prods = pd.read_csv(os.path.join(path, '2 Data', 'Original Data', 'products.csv'), index_col=False)

In [5]:
# Import orders.csv from prepared data folder
df_ords = pd.read_csv(os.path.join(path, '2 Data', 'Prepared Data', 'orders_wrangledjul16.csv'), index_col=False)

In [6]:
# Describe order data
print(df_ords.describe())

         Unnamed: 0      order_id       user_id  order_number  \
count  3.421083e+06  3.421083e+06  3.421083e+06  3.421083e+06
mean   1.710541e+06  1.710542e+06  1.029782e+05  1.715486e+01
std    9.875817e+05  9.875817e+05  5.953372e+04  1.773316e+01
min    0.000000e+00  1.000000e+00  1.000000e+00  1.000000e+00
25%    8.552705e+05  8.552715e+05  5.139400e+04  5.000000e+00
50%    1.710541e+06  1.710542e+06  1.026890e+05  1.100000e+01
75%    2.565812e+06  2.565812e+06  1.543850e+05  2.300000e+01
max    3.421082e+06  3.421083e+06  2.062090e+05  1.000000e+02

       orders_day_of_week  order_hour_of_day  days_since_prior_order
count        3.421083e+06       3.421083e+06            3.214874e+06
mean         2.776219e+00       1.345202e+01            1.111484e+01
std          2.046829e+00       4.226088e+00            9.206737e+00
min          0.000000e+00       0.000000e+00            0.000000e+00
25%          1.000000e+00       1.000000e+01            4.000000e+00
50%          3.000000e+00       1.300000e+01            7.000000e+00
75%          5.000000e+00       1.600000e+01            1.500000e+01
max          6.000000e+00       2.300000e+01            3.000000e+01

### 3. Create and Manipulate Test Dataframe

In [7]:
# Create test dataframe
df_test = pd.DataFrame()

In [8]:
# Create a mixed type column
df_test['mix'] = ['a', 'b', 1, True]

In [9]:
# Check for mixed type column
print(df_test.head())

    mix
0     a
1     b
2     1
3  True

In [10]:
# Check for mixed type columns
weird = (df_test['mix'].apply(type) != type(df_test['mix'].iloc[0])).any()
if weird:
    print('mix')

mix

In [11]:
# Change to string
df_test['mix'] = df_test['mix'].astype('str')

### 4. Consistency Checks for Products

In [12]:
# Finding missing observations
print(df_prods.isnull().sum())

product_id        0
product_name     16
aisle_id          0
department_id     0
prices            0
dtype: int64

In [13]:
# Subset to view null values
df_nan = df_prods[df_prods['product_name'].isnull() == True]

In [14]:
# Check
print(df_nan)

       product_id product_name  aisle_id  department_id  prices
33             34          NaN       121             14    12.2
68             69          NaN        26              7    11.8
115           116          NaN        93              3    10.8
261           262          NaN       110             13    12.1
525           525          NaN       109             11     1.2
1511         1511          NaN        84             16    14.3
1780         1780          NaN       126             11    12.3
2240         2240          NaN        52              1    14.2
2586         2586          NaN       104             13    12.4
3159         3159          NaN       126             11    13.1
3230         3230          NaN       120             16    14.4
3736         3736          NaN        41              8    14.8
4283         4283          NaN        77              7    14.4
4790         4790          NaN        91             16    14.5
38187       38183          NaN        39             12    20.9
40444       40440          NaN       120             16    14.8

In [15]:
# Check the shape of df_prods
print(df_prods.shape)

(49693, 5)

In [16]:
# Create new product dataframe eliminating missing values
df_prods_clean = df_prods[df_prods['product_name'].isnull() == False]

In [17]:
# Check
print(df_prods_clean)

       product_id                                       product_name  \
0               1                         Chocolate Sandwich Cookies
1               2                                   All-Seasons Salt
2               3               Robust Golden Unsweetened Oolong Tea
3               4  Smart Ones Classic Favorites Mini Rigatoni Wit...
4               5                          Green Chile Anytime Sauce
...           ...                                                ...
49688       49684          Vodka, Triple Distilled, Twist of Vanilla
49689       49685                 En Croute Roast Hazelnut Cranberry
49690       49686                                   Artisan Baguette
49691       49687         Smartblend Healthy Metabolism Dry Cat Food
49692       49688                             Fresh Foaming Cleanser

       aisle_id  department_id  prices
0            61             19     5.8
1           104             13     9.3
2            94              7     4.5
3            38              1    10.5
4             5             13     4.3
...         ...            ...     ...
49688       124              5     5.3
49689        42              1     3.1
49690       112              3     7.8
49691        41              8     4.7
49692        73             11    13.5

[49677 rows x 5 columns]

In [18]:
# Check the shape of df_prods_clean
print(df_prods_clean.shape)

(49677, 5)

In [19]:
# Check for duplicates in products dataframe
df_dups = df_prods_clean[df_prods_clean.duplicated()]

In [20]:
# Check
print(df_dups)

       product_id                                       product_name  \
462           462                  Fiber 4g Gummy Dietary Supplement
18459       18458                                         Ranger IPA
26810       26808               Black House Coffee Roasty Stout Beer
35309       35306  Gluten Free Organic Peanut Butter & Chocolate ...
35495       35491                            Adore Forever Body Wash

       aisle_id  department_id  prices
462          70             11     4.8
18459        27              5     9.2
26810        27              5    13.4
35309       121             14     6.8
35495       127             11     9.9

In [21]:
# Check the shape of df_prods_clean
print(df_prods_clean.shape)

(49677, 5)

In [22]:
# Create new df_prods that doesn't contain duplicates
df_prods_clean_no_dups = df_prods_clean.drop_duplicates()

In [23]:
# Check
print(df_prods_clean_no_dups)

       product_id                                       product_name  \
0               1                         Chocolate Sandwich Cookies
1               2                                   All-Seasons Salt
2               3               Robust Golden Unsweetened Oolong Tea
3               4  Smart Ones Classic Favorites Mini Rigatoni Wit...
4               5                          Green Chile Anytime Sauce
...           ...                                                ...
49688       49684          Vodka, Triple Distilled, Twist of Vanilla
49689       49685                 En Croute Roast Hazelnut Cranberry
49690       49686                                   Artisan Baguette
49691       49687         Smartblend Healthy Metabolism Dry Cat Food
49692       49688                             Fresh Foaming Cleanser

       aisle_id  department_id  prices
0            61             19     5.8
1           104             13     9.3
2            94              7     4.5
3            38              1    10.5
4             5             13     4.3
...         ...            ...     ...
49688       124              5     5.3
49689        42              1     3.1
49690       112              3     7.8
49691        41              8     4.7
49692        73             11    13.5

[49672 rows x 5 columns]

In [24]:
# Check the shape of df_prods_clean_no_dups
print(df_prods_clean_no_dups.shape)

(49672, 5)

In [41]:
# Check values
df_prods_clean_no_dups.describe()

         product_id      aisle_id  department_id        prices
count  49672.000000  49672.000000   49672.000000  49672.000000
mean   24850.349775     67.762442      11.728942      9.993282
std    14340.705287     38.315784       5.850779    453.615536
min        1.000000      1.000000       1.000000      1.000000
25%    12432.750000     35.000000       7.000000      4.100000
50%    24850.500000     69.000000      13.000000      7.100000
75%    37268.250000    100.000000      17.000000     11.100000
max    49688.000000    134.000000      21.000000  99999.000000

In [42]:
# The max value in the prices category appears too high
# I will replace this value with 9.9999

In [45]:
# Replace 99999 in the 'prices' column with 9.9999
df_prods_clean_no_dups.loc[df_prods_clean_no_dups['prices'] == 99999, 'prices'] = 9.9999

In [46]:
# Check Values
df_prods_clean_no_dups.describe()

         product_id      aisle_id  department_id        prices
count  49672.000000  49672.000000   49672.000000  49672.000000
mean   24850.349775     67.762442      11.728942      7.980297
std    14340.705287     38.315784       5.850779     66.951831
min        1.000000      1.000000       1.000000      1.000000
25%    12432.750000     35.000000       7.000000      4.100000
50%    24850.500000     69.000000      13.000000      7.100000
75%    37268.250000    100.000000      17.000000     11.100000
max    49688.000000    134.000000      21.000000  14900.000000

In [47]:
# There is another outlier, 14900
# I will replace this value with 1.49

In [48]:
# Replace 14900 in the 'prices' column with 1.4900
df_prods_clean_no_dups.loc[df_prods_clean_no_dups['prices'] == 14900, 'prices'] = 1.4900

In [49]:
# Check values one last time
df_prods_clean_no_dups.describe()

         product_id      aisle_id  department_id        prices
count  49672.000000  49672.000000   49672.000000  49672.000000
mean   24850.349775     67.762442      11.728942      7.680359
std    14340.705287     38.315784       5.850779      4.199401
min        1.000000      1.000000       1.000000      1.000000
25%    12432.750000     35.000000       7.000000      4.100000
50%    24850.500000     69.000000      13.000000      7.100000
75%    37268.250000    100.000000      17.000000     11.100000
max    49688.000000    134.000000      21.000000     25.000000

In [50]:
# All values appear correct

In [51]:
# Export product data without duplicates or missing values
df_prods_clean_no_dups.to_csv(os.path.join(path, '2 Data', 'Prepared Data', 'products_checkedjul16.csv'))

### 5. Consistency Checks for Orders

In [26]:
# Describe order dataframe
print(df_ords.describe())

         Unnamed: 0      order_id       user_id  order_number  \
count  3.421083e+06  3.421083e+06  3.421083e+06  3.421083e+06
mean   1.710541e+06  1.710542e+06  1.029782e+05  1.715486e+01
std    9.875817e+05  9.875817e+05  5.953372e+04  1.773316e+01
min    0.000000e+00  1.000000e+00  1.000000e+00  1.000000e+00
25%    8.552705e+05  8.552715e+05  5.139400e+04  5.000000e+00
50%    1.710541e+06  1.710542e+06  1.026890e+05  1.100000e+01
75%    2.565812e+06  2.565812e+06  1.543850e+05  2.300000e+01
max    3.421082e+06  3.421083e+06  2.062090e+05  1.000000e+02

       orders_day_of_week  order_hour_of_day  days_since_prior_order
count        3.421083e+06       3.421083e+06            3.214874e+06
mean         2.776219e+00       1.345202e+01            1.111484e+01
std          2.046829e+00       4.226088e+00            9.206737e+00
min          0.000000e+00       0.000000e+00            0.000000e+00
25%          1.000000e+00       1.000000e+01            4.000000e+00
50%          3.000000e+00       1.300000e+01            7.000000e+00
75%          5.000000e+00       1.600000e+01            1.500000e+01
max          6.000000e+00       2.300000e+01            3.000000e+01

In [27]:
# Check for mixed type columns in df_ords
for col in df_ords.columns.tolist():
    # Apply type function to each element in the column and check for differences
    weird = df_ords[col].map(type) != type(df_ords[col].iloc[0])
    if weird.any():
        print(f"Mixed types in column: {col}")

Mixed types in column: Unnamed: 0
Mixed types in column: order_id
Mixed types in column: user_id
Mixed types in column: order_number
Mixed types in column: orders_day_of_week
Mixed types in column: order_hour_of_day
Mixed types in column: days_since_prior_order

In [29]:
# Convert columns to appropriate data types
df_ords['order_id'] = df_ords['order_id'].astype(str)
df_ords['user_id'] = df_ords['user_id'].astype(str)
df_ords['order_number'] = df_ords['order_number'].astype(int)
df_ords['order_dow'] = df_ords['orders_day_of_week'].astype(int)
df_ords['order_hour_of_day'] = df_ords['order_hour_of_day'].astype(int)

In [30]:
# Check for missing values
missing_values = df_ords.isnull().sum()
print("Missing values in each column:")
print(missing_values)

Missing values in each column:
Unnamed: 0                     0
order_id                       0
user_id                        0
eval_set                       0
order_number                   0
orders_day_of_week             0
order_hour_of_day              0
days_since_prior_order    206209
order_dow                      0
dtype: int64

In [31]:
# Calculate the mean of the 'days_since_prior_order' column, excluding NaN values
mean_days_since_prior_order = df_ords['days_since_prior_order'].mean()

In [33]:
# Calculate the mean of the 'days_since_prior_order' column, excluding NaN values
mean_days_since_prior_order = df_ords['days_since_prior_order'].mean()

In [34]:
# Fill NaN values in 'days_since_prior_order' with the mean value
df_ords['days_since_prior_order'] = df_ords['days_since_prior_order'].fillna(mean_days_since_prior_order)

In [35]:
# Check to ensure there are no more NaN values in 'days_since_prior_order'
print(df_ords['days_since_prior_order'].isnull().sum())

0

In [36]:
# Check for missing values
missing_values = df_ords.isnull().sum()
print("Missing values in each column:")
print(missing_values)

Missing values in each column:
Unnamed: 0                0
order_id                  0
user_id                   0
eval_set                  0
order_number              0
orders_day_of_week        0
order_hour_of_day         0
days_since_prior_order    0
order_dow                 0
dtype: int64

In [37]:
# Check for duplicates in df_ords
df_dups = df_ords[df_ords.duplicated()]

In [38]:
# Check
print(df_dups)

Empty DataFrame
Columns: [Unnamed: 0, order_id, user_id, eval_set, order_number, orders_day_of_week, order_hour_of_day, days_since_prior_order, order_dow]
Index: []

In [39]:
# No duplicates

In [52]:
# Export orders data set
df_ords.to_csv(os.path.join(path, '2 Data', 'Prepared Data', 'orders_checkedjul16.csv'))

In [ ]:
# end notebook